* {/* Html */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', sans-serif;
}
/* Body */
body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(Background.gif) no-repeat;
    background-size: cover;
    background-position: center;
}
/* Form */
.wrapper {
    width: 420px;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid rgb(129, 129, 129);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items:center ;
}
/* World X image */
.World_x {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
}
/* Input box */
.input_box {
    position: relative;
    margin-bottom: 30px;
   
}
/* Input box username and password */
.input_box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(88, 88, 88);
    border-radius: 40px;
    font-size: 16px;
    color: #f1f0f0;
    padding: 0 20px 0 50px;
}

/* Icons Arrange */
.input_box i 
{
position: absolute;
right: 20px; 
top: 50px;
transform: translateY(-170%);
font-size: 20px;
}

/* When user clicks */
.input_box input::placeholder {
    color: #bbb7b7;
}

/* Remember text */
.remember-forgot {
    color: #9a9da0;
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin-bottom: 20px;
}

.remember-forgot label {
    display: flex;
    align-items: center;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 5px;
}

.remember-forgot a {
    color: #867e7e;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

/* Login Button */
.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #4bce39;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 26px;
    color: #076ece;
    font-weight: 600;

}

/* Link */
.register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.register-link p a {
    color: #8eb8fc;
    text-decoration: none;
    font-weight: 600;
    text-decoration-line: underline;
}

.register-link p a:hover {
    text-decoration: underline;
}
